
.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: rgb(91, 73, 255);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}

/* Always show the scrollbar of the dropdown */
.select-btn.open ~ .list-items::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
.select-btn.open ~ .list-items::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 8px;
}
.select-btn.open ~ .list-items::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3);
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: rgb(91, 73, 255);
    border-color: rgb(91, 73, 255);
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}
.main-card:hover{
    background: #0A7386;
    color: white;
}
.text-primary{
    color: #53758B !important;
}

.main-card:hover .card-header{
    background: white;
    color: #0A7386;
}
.accordion-collapse.show{
    background: #ebebeb;
}
body{
    font-family: 'Poppins', sans-serif;
}
#output {
    padding: 20px;
    background: #dadada;
}

form {
    margin-top: 20px;
}

.chosen-select {
    width: 300px;
}
.file-upload label{
    display: inline-block;
    background-color: #0A7386;
    color: white;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}



.section-header {
    text-align: center;
    margin: 40px 0px 40px;
}

.section-header h3 {
    font-size: 22px;
    color: #53758B;
    text-transform: uppercase;
}

.section-header h2 {
    font-size: 32px;
    color: #292929;
    position: relative;
}

.section-header h2:after {
    content: "";
    height: 3px;
    max-width: 100%;
    width: 120px;
    background: #2196f3;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.faq-section .accordion-collapse {
    border: 0;
}

.faq-section .accordion-button {
    padding: 15px 0px 15px;
    border: 0;
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.faq-section .accordion-button:focus {
    box-shadow: none;
}

.faq-section .accordion-button:not(.collapsed) {
    background: none;
    color: #1b6ce5;
}

.faq-section .accordion-body {
    padding: 15px 0px 15px;
}

.accordion-item {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: #f8f9fa;
    color: #495057;
    border-radius: 0.5rem;
    padding: 1rem;
}

.accordion-button:hover {
    background-color: #e2e6ea;
}

.accordion-body {
    border-top: 1px solid #dee2e6;
    padding: 1rem;
}
a{
    text-decoration: none;
}
th {
    background-color: #f2f2f2 !important;
    color: #0a3622 !important;
}

.table-bordered {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: #e2e6ea;
}

.table th,
.table td {
    border-top: 1px solid #dee2e6;
    padding: 1rem;
}

.bg-secondary {
    background-color: #6c757d;
    color: #fff;
}

.text-white {
    color: #fff;
}
